body
{
    background: #eee;
    color: #555;
    font-family: Arial, Helvetica, "Nimbus Sans", FreeSans, Malayalam, sans-serif;
    font-size: 120%;
    line-height: 100%;
    padding:0px;
    margin:0px;
    text-shadow: 0px 1px 0px #FFF;
}
a
{
    color: #03C5A0;
}
a:hover
{
    color: #067761;
}
a.active
{
    color: #444;
}
#welcome
{
    width: 900px;
    position: absolute;
    margin: 0px auto;
    top: 45%;
    left: 50%;
    margin-top: -175px;
    margin-left: -450px;
    text-align: center;
}
#message
{
    margin-top: 30px;
    margin-bottom: 30px;
}
#icons
{
    opacity: 0.7;
}
#footer
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    text-align: right;
    font-size: 0.7em;
    color: #999;
}
#wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
}