@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,300&subset=cyrillic,latin);
@import url(http://fonts.googleapis.com/css?family=Roboto:100&subset=cyrillic,latin);
header {
    padding: 10px 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #3a3a3a;
}
#logo {
    color: #3a3a3a;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}
.actions {
    cursor: pointer;
    margin-top: 7px;
}
.actions .cart {
    float: left;
    color: #614e1c;
}
.icon-cart {
    background: url("../img/shopping.png") no-repeat;
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 9%;
    margin-right: 10px;
    opacity: 0.5;
}
.cart .header {
    font-size: 18px;
    margin-bottom: -8px;
    display: block;
    float: left;
}
.cart .products {
    text-align: center !important;
    display: block;
    font-size: 12px;
}

.checkout-container {
    float: right;
}

.actions {
    border-radius: 5px;
    padding: 2px 27px 2px 15px;
    background-color: #e2b642;
    display: block;
    color: #614e1c;
    border-bottom: 3px solid #c7a03a;
    float: right;
}
#hot {
    overflow: hidden;
}
@media (min-width: 64.063em) {
    #hot {
        height: 300px !important;
    }
}
@media only screen {
    #hot {
        height: 40%;
    }
}
#hot .image {
    margin-top: 20px;
}
#hot .info {
    margin-top: 40px;
}
#hot .info .product-title {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#hot .info .product-description {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.row.line {
    border-bottom: 1px solid #f1f1f1;
}
.product-buttons {
    margin-top: 20px;
}
.product-buttons .button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-right: 10px;
    padding: 12px 25px;
    color: #707070;
    border-radius: 3px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    border: 1px solid #eaeaea;
}

.product-item {
    margin: 5px;
    border: 1px solid #ececec;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.product-item .image {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 200px;
    border-bottom: 1px solid #e8e8e8;
}

.product-item .image img{
    position: absolute;
    margin: auto;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
}

.product-item .info {
    border-top: 1px solid #fff;
    padding: 10px;
    background: #f9f9f9;
}
.product-item .info .title {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #323232;
    padding-bottom: 20px;
    padding-top: 5px;
    display: block;
    line-height: 22px;
}
.product-item .info .title:hover {
    text-decoration: underline;
}
.button.item-to-cart {
    display: block;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 5px 15px;
    background-color: #e2b642;
    margin-bottom: 0;
    margin-top: 2px;
    color: #614e1c;
    border-bottom: 3px solid #c7a03a;
    float: left;
}
.button.item-from-cart {
    display: block;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 5px 15px;
    background-color: #e2656b;
    margin-bottom: 0;
    margin-top: 2px;
    color: #610020;
    border-bottom: 3px solid #aa3b4e;
    float: left;
}
.bottom .price {
    margin-left: 60%;
    margin-top: -5px;
    font-size: 22px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #636363;
}
#products {
    margin-top: 35px;
    padding: 15px;
}
#product {
    margin-top: 40px;
    padding: 15px;
    margin-bottom: 40px;
}
.one-product .title {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.one-product .description {
    margin-top: 20px;
    color: #363636;
    font-weight: 300;
}
.main-image {
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid #ececec;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.main-image img {
    position: absolute;
    margin: auto;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
}
.mini-images li {
    width: 50px;
    height: 50px;
    border: 1px solid #ececec;
    overflow: hidden;
    cursor: pointer;
}
.mini-images li.active {
    border: 1px solid #76c8ec;
    cursor: default;
}

.mini-images {
    list-style: none;
    margin: 10px 0 0 0;
}
.mini-images li {
    float: left;
    margin-right: 5px;
}
.mini-images:after {
    display: block;
    content: '';
    clear: both;
}
.small-cart-icon {
    background: url("../img/shopping.png") no-repeat;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    float: left;
}
.small-checkout-icon {
    background: url("../img/checkout.png") no-repeat;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    float: left;
}
.button-label {
    margin-left: 30px;
    text-align: center;
}
.button.to-cart {
    max-width: 260px;
    display: block;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px 55px 10px 65px;
    background-color: #e2b642;
    margin-bottom: 0;
    margin-top: 10px;
    color: #614e1c;
    border-bottom: 3px solid #c7a03a;
}
.button.checkout {
    max-width: 260px;
    display: block;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px 55px 10px 65px;
    background-color: #51d05f;
    margin-bottom: 0;
    margin-top: 10px;
    color: #216124;
    border-bottom: 3px solid #3eb043;
}
h2.also {
    margin-bottom: 25px;
    font-size: 30px;
}
#cart-buttons {
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 15px;
}
.total-in-cart {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-top: 15px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
a.back {
    text-decoration: underline;
}
ul.errors li {
    color: #c52e54;
}